.DefaultTitle {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 100;
    color: rgb(255, 179, 179);
    text-align: center
}

.DefaultParagraph {
    font-size: 1em;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    color: #fddddd;
}