#menu-site h1 {
    font-size: 100px;
    color: purple;
}

#menu-site a {
    color: orange;
}

h1 {
    color: red;
}

#conteudo-site h1 {
    color: blue;
}

.caixa {
    width: 200px;
    height: 200px;
    margin: 50px;
    float: left;
    background: green;
}

.caixa b {
    font-size: 20px;
    color: white;
}